body {
    background: #cde7dc;
    font-family: "Barlow", sans-serif;
}

.welcomeIcon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: azure;
    /* Blai, seguimos sin saber Azure! */
}

/* NAVBAR */
.topNavbar {
    background-color: #181f38;
    color: white;
}

.navbar2 {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #181f38;
}

.nbIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nbLink {
    border-radius: 0;
    color: white;
    background-color: transparent;
    transition: background-color 0.3s;
}

.nbLink:hover {
    background-color: #ffcc66;
    color: black;
    font-weight: 600;
}

.nbButton {
    background-color: #91c120;
    color: black;
}

/* OTHERS */
.smallFont {
    font-size: smaller;
}

.informationCard {
    width: 18rem;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}